<header-home></header-home>
<div class="content-wrapper">
    <breadcrumbs data-type="{{ 'VIEW' | translate }}" data-model-name="{{ 'FILE_TYPES' | translate }}" data-model="{{type}}"></breadcrumbs>
    <!-- Main content -->
    <section class="content">
      <div class="box-header with-border">
          <h3 class="box-title">{{ 'DETAILS_FOR' | translate }} <b>{{model.name}}</b></h3>
          
          <button permission permission-except="roles.GUEST" ng-if="model.files.length > 0"  data-toggle="modal" data-target="#viewLinkRelationships" class="btn btn-default pull-right margin-right-10"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'VIEW_LINK_RELATIONSHIPS' | translate }}</button>
      </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">

                    <div class="box-body table-responsive no-padding">
                        <table class="table usertable">
                            <tr ng-if="model.name">
                                <td class="detail-bold">{{ 'NAME' | translate }}</td>
                                <td>{{model.name}}</td>
                            </tr>
                            <tr ng-if="model.mimetype">
                                <td class="detail-bold">{{ 'mimetype' | translate }}</td>
                                <td ng-bind-html="getHtml(model.mimetype)"></td>
                            </tr>
                            <tr ng-if="model.createdBy">
                                <td class="detail-bold">{{ 'CREATED_BY' | translate }} </td>
                                <td><a ng-href="#/users/{{model.createdBy.id}}/view" href-policy-if-guest-user>{{model.createdBy.username}}</a></td>
                            </tr>
                            <tr ng-if="model.createdAt">
                                <td class="detail-bold">{{ 'CREATED_AT' | translate }}</td>
                                <td>{{model.createdAt| date:'MMM d, y h:mm:ss a'}}</td>
                            </tr>
                            <tr ng-if="model.updatedAt">
                                <td class="detail-bold">{{ 'UPDATED_AT' | translate }}</td>
                                <td>{{model.updatedAt| date:'MMM d, y h:mm:ss a'}}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a ng-href="#" back-button class="btn btn-default pull-left">
                            {{ 'BACK' | translate }}
                        </a>
                        <button type="submit" class="btn btn-primary pull-right" ng-click="edit(model)" permission permission-except="roles.GUEST">{{ 'EDIT' | translate }}</button>
                        <a ng-if="model.deletedAt" class="pull-right btn btn-primary btn-activate" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{model.id}}" ng-click="activeModel($event)" permission permission-except="roles.GUEST">{{ 'ACTIVATE' | translate }}</a>
                        <a ng-if="!model.deletedAt" class="pull-right btn btn-primary btn-activate" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{model.id}}" ng-click="inactiveModel($event)" permission permission-except="roles.GUEST">{{ 'INACTIVATE' | translate }}</a>
                    </div>
                </div>

            </div>
        </div>
                    <!--  Main content-->
        <div class="modal fade" id="viewLinkRelationships" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'RELATIONSHIPS' | translate }}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <th>{{ 'NAME' | translate }}</th>
                                <th>{{ 'TYPE' | translate }}</th>
                                <th class="text-center box-actions">{{ 'ACTIONS' | translate }}</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="file in model.files | orderBy: 'name'">
                                    <td>
                                        <span>{{file.name}}</span>
                                    </td>
                                    <td>
                                        <span>{{'FILE'| translate }}</span>
                                    </td>
                                    <td class="text-center box-actions">
                                        <a target="_blank" class="btn btn-primary" ng-href="#/files/{{file.id}}/view">{{ 'VIEW' | translate }}</a>
                                        <a target="_blank" class="btn btn-primary" ng-href="#/files/{{file.id}}/edit" show-policy-if-guest-user="files">{{ 'EDIT' | translate }}</a>
                                        <a class="btn btn-primary" ng-click="deleteResource(file.id, 'files')" permission permission-except="roles.GUEST">{{ 'DELETE' | translate }}</a>
                                        <button ng-click="unPublish(file.id, 'files')" ng-if="file.status.id == statuses.published" class="pull-right btn btn-primary" permission permission-except="roles.GUEST">{{ 'UNPUBLISH' | translate }}</button>
                                        <button ng-click="publish(file.id, 'files')" ng-if="file.status.id !== statuses.published" class="pull-right btn btn-primary" permission permission-except="roles.GUEST">{{ 'PUBLISH' | translate }}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<footer-home></footer-home>
