a {
    color: #19c3e3;
}
a:focus, a:hover {
    color: #fdd306;
    text-decoration: none;
}

.active {
    color:  #19c3e3;
}

.box-header .box-title {
    color: #fdd306;
}

.btn:hover {
    border-color: #19c3e3;
    background-color: #19c3e3;
    color: #FFFFFF;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:active:focus, .btn-primary.hover, .btn-default:active, .btn-default:focus, .btn-default:active:focus, .btn-default.hover {
    background-color: #fdd306 !important;
    border-color: #FFFFFF;
    color: #FFFFFF !important;
}

.condition-active {
    background-color: #fdd306 !important;
    color: #5F4600 !important;
}

.home-box h3 {
    color: #fdd306;
}
.home-box:hover  {
    background-color: #19c3e3;
    border-color: #19c3e3;
}

.home-box:hover h3 {
    color: #FFFFFF;
}


.logo {
    background: #fdd306;
}

.logo .logo-lg img {
    width: 180px;
}

.main-header .logo .logo-lg {
    /*width: 180px;*/
}

.navbar-icon{
    color: #19c3e3;
}

/*.pagination > .active > a{
    background-color: #FF386a;
    border-color: #FF386a;
}

.pagination > li > a{
    color: #FF386a;
}*/

/*.pagination>.active>a {
    background-color: #19c3e3;
    border-color: #19c3e3;
}*/
.pagination > .active > a{
    background-color: rgba(32, 149, 242, 0.8);
    border-color: rgba(32, 149, 242, 0.8);
}

.pagination > li > a{
    color: rgba(32, 149, 242, 0.8);
}

.pagination > .active > a:focus, .pagination > .active > a:hover{
    background-color: #FFb600;
    border-color: #FFb600;
}

.sidebar-mini.sidebar-collapse .main-header .logo {
  width: 50px;
}
.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  font-size: 18px;
  /*height: 2.5em;*/
}


.sidebar-toggle{
    color:  #19c3e3 !important;
    font-size: 11pt;
}

.sidebar-toggle:hover {
    color: #fdd306;
}

.sidebar-menu .treeview.active>a>.sidebar-svg *, .sidebar-menu .treeview-menu>li.active>a>.sidebar-svg * {
    fill: #19c3e3;

}

.sidebar-menu .treeview-menu li.active>a, .sidebar-menu .treeview-menu li.active>a>span {
    color: #19c3e3;

}

ul.sidebar-menu .treeview.active>a {
  color:  #19c3e3;
}

ul.sidebar-menu .treeview.active>a>span {
  color:  #19c3e3;
}

.steps li.active a, .steps li.active p {
    /*background: #ff386a;*/
    background: white;
    border: 3px solid #19c3e3;
    opacity: 1;
    color: #19c3e3;
}

.steps li.active a:after, .steps li.active p:after {
    border-left: 12px solid #19c3e3;
}

.login-box {
    box-shadow: 0px 0px 5px 0px #ffb600;
    background-color: white;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #19c3e3 !important;
    border: 1px solid #19c3e3 !important;
}

.nav-tabs>li>a:hover {
    background-color: #fdd306 !important;
    border: 1px solid #fdd306 !important;
}