<header-home></header-home>
<div class="content-wrapper">
    <breadcrumbs data-type="{{ 'ADD' | translate }}" data-model-name="{{ 'CONFIG' | translate }}" data-model="{{type}}"></breadcrumbs>
    <!-- Main content -->
    <section class="content">
      <div class="box-header with-border">
          <h3 class="box-title">{{ 'ADD' | translate }} {{ 'CONFIG' | translate }}</h3>
      </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <form autocomplete="off"  class="form-horizontal" name="form"  autocomplete="false"  role="form" ng-submit="add(form.$valid)" novalidate>
                        <div class="box-body" ng-include="'views/config/_form.html'"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--  Main content-->
</div>
<footer-home></footer-home>
