<script type="text/javascript" src="/plugins/redirect.js"></script>
<header-home></header-home>
<div class="content-wrapper">
    <breadcrumbs data-model-name="{{ 'CONFIG' | translate }}" data-model="{{type}}"></breadcrumbs>
    <!-- Main content -->
    <section class="content">
        <div class="box-header">
            <h3 class="box-title">{{ 'CONFIGS' | translate }}</h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <uib-tabset active="tab_active">
                    <uib-tab index="0" heading="{{'SITE_CONFIGS' | translate}}" ng-click="changeTab(0);"></uib-tab>
                    <uib-tab index="1" heading="{{'VISUALIZATIONS' | translate}}" ng-click="changeTab(1);"></uib-tab>
                    <uib-tab index="2" heading="{{'INTEGRATIONS' | translate}}" ng-click="changeTab(2);"></uib-tab>
                </uib-tabset>

                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>{{ 'DESCRIPTION' | translate }}</th>
                                    <th>{{ 'VALUE' | translate }}</th>
                                    <th class="text-center box-actions">{{ 'ACTIONS' | translate }}</th>
                                </tr>
                                <tr ng-repeat="model in data.data | orderBy: 'description | translate'" ng-if="!model.parent">
                                    <td>{{model.description | translate}}</td>
                                    <td ng-if="model.type == 'model' && !model.multiple" value-config="{{model.value}}" data-model="{{model.model| lowercase}}"></td>
                                    <td ng-if="model.type != 'model'">
                                        <span class="{{(model.value == 'true' || model.value == 'false') ? (model.value == 'true') ? 'label label-default bg-primary condition-active' : 'label label-default ' : ''}}">{{(model.value == 'true') ? 'Habilitado' : (model.value == 'false') ? 'Deshabilitado' : model.value}}</span>
                                    </td>
                                    <td ng-if="model.type == 'model' && model.multiple">
                                        <div ng-repeat="mult in model.value.split(',')">
                                            <span class="label label-default bg-primary condition-active">{{mult | uppercase | translate}}</span>
                                        </div>
                                    </td>
                                    <td class="text-center box-actions">
                                        <a ng-disabled="(adminglob.currentUser.role == 'admin' && !model.editable)" uib-tooltip="Su perfil de usuario no tiene permisos de edición." tooltip-placement="top" tooltip-enable="(adminglob.currentUser.role == 'admin' && !model.editable)" class="btn btn-primary" ng-click="(adminglob.currentUser.role == 'admin' && !model.editable) ? null : edit({id: model.id})">{{ 'EDIT' | translate }}</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!--  Main content-->
</div>
<footer-home></footer-home>
