<header-home></header-home>
<div class="content-wrapper">
    <breadcrumbs data-type="{{ 'VIEW' | translate }}" data-model-name="{{ 'FILES' | translate }}" data-model="{{type}}"></breadcrumbs>
    <!-- Main content -->
    <section class="content">
      <div class="box-header with-border">
          <h3 class="box-title">{{ 'DETAILS_FOR' | translate }} {{ model.name}}</h3>
          <button ng-click="unPublish(model.id, 'files')" ng-if="model.status.id == statuses.published" class="pull-right btn btn-primary" permission permission-except="roles.GUEST">{{ 'UNPUBLISH' | translate }}</button>
          <button ng-click="publish(model.id, 'files')" ng-if="model.status.id !== statuses.published && model.status.id !== statuses.rejected" class="pull-right btn btn-primary" permission permission-except="roles.GUEST">{{ 'PUBLISH' | translate }}</button>
          <button ng-click="reject(model.id, 'files')" ng-if="model.status.id == statuses.underReview" class="pull-right btn btn-primary margin-right-10" permission permission-except="roles.GUEST">{{ 'REJECT' | translate }}</button>
          <button ng-click="sendReview(model.id, 'files')" ng-if="model.status.id == statuses.draft" class="pull-right btn btn-primary" permission permission-only="roles.GUEST">{{ 'SEND_TO_REVIEW' | translate }}</button>
          <button ng-click="cancel(model.id, 'files')" ng-if="model.status.id == statuses.underReview" class="pull-right btn btn-primary margin-right-10" permission permission-only="roles.GUEST" show-policy-if-guest-user="files">{{ 'CANCEL' | translate }}</button>
          <!--<a ng-href="#/files/new/{{model.id}}" class="btn btn-default pull-right margin-right-10"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'NEW_RESOURCES' | translate }}</a>-->
          <div class="dropdown pull-right margin-right-10" ng-if="((!!model.url && !!model.type.api) || model.kml) && (!permission_block)">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ 'NEW_RESOURCES' | translate }}
                  <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right">
                  <li><a ng-href="#/maps/new/{{model.id}}" ><i class="fa fa-plus" aria-hidden="true"></i> {{ 'NEW_MAP' | translate }}</a></li>
                  
                  <li ng-if="!model.kml"><a ng-href="#/charts/new/{{model.id}}" ><i class="fa fa-plus" aria-hidden="true"></i> {{ 'NEW_CHART' | translate }}</a></li>
              </ul>
          </div>

          <button ng-if="(!!model.resources.data.maps || !!model.resources.data.charts) && view_ok"  data-toggle="modal" data-target="#viewLinkResources" class="btn btn-default pull-right margin-right-10"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'VIEW_LINK_VISUALIZATIONS' | translate }}</button>
      </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body table-responsive no-padding">
                        <table class="table usertable">
                            <tr ng-if="model.name">
                                <td class="detail-bold">{{ 'NAME' | translate }}</td>
                                <td>{{model.name}}</td>
                            </tr>
                            <tr ng-if="model.description">
                                <td class="detail-bold">{{ 'DESCRIPTION' | translate }}</td>
                                <td ng-bind-html="getHtml(model.description)"></td>
                            </tr>
                            <tr ng-if="model.type">
                                <td class="detail-bold">{{ 'TYPE' | translate }}</td>
                                <td>{{model.type.name}}</td>
                            </tr>
                            <tr ng-if="model.dataset">
                                <td class="detail-bold">{{ 'DATASET' | translate }}</td>
                                <td><a ng-href="#/datasets/{{model.dataset.id}}/view">{{model.dataset.name}}</a></td>
                            </tr>
                            <tr ng-if="model.status">
                                <td class="detail-bold">{{ 'STATUS' | translate }}</td>
                                <td>{{model.status.name}}</td>
                            </tr>
                            <tr ng-if="model.updateFrequency">
                                <td class="detail-bold">{{ 'FREQUENCY' | translate }}</td>
                                <td>{{model.updateFrequency.name}}</td>
                            </tr>
                            <tr ng-if="model.organization">
                                <td class="detail-bold">{{ 'ORGANIZATION' | translate }}</td>
                                <td>{{model.organization.name}}</td>
                            </tr>
                            <tr ng-if="model.createdBy">
                                <td class="detail-bold">{{ 'CREATED_BY' | translate }} </td>
                                <td><a ng-href="#/users/{{model.createdBy.id}}/view" href-policy-if-guest-user>{{model.createdBy.username}}</a></td>
                            </tr>
                            <tr ng-if="model.owner">
                                <td class="detail-bold">{{ 'OWNER' | translate }} </td>
                                <td><a ng-href="#/users/{{model.owner.id}}/view" href-policy-if-guest-user>{{model.owner.username}}</a></td>
                            </tr>
                            <tr ng-if="model.createdAt">
                                <td class="detail-bold">{{ 'CREATED_AT' | translate }}</td>
                                <td>{{model.createdAt| date:'MMM d, y h:mm:ss a'}}</td>
                            </tr>
                            <tr ng-if="!!model.publishedAt">
                                <td class="detail-bold">{{ 'PUBLISHED_AT' | translate }}</td>
                                <td>{{model.publishedAt| date:'MMM d, y h:mm:ss a' }}</td>
                            </tr>
                            <tr ng-if="!!model.unPublishedAt">
                                <td class="detail-bold">{{ 'UNPUBLISHED_AT' | translate }}</td>
                                <td>{{model.unPublishedAt| date:'MMM d, y h:mm:ss a' }}</td>
                            </tr>
                            <tr ng-if="!!model.rejectedAt">
                                <td class="detail-bold">{{ 'REJECTED_AT' | translate }}</td>
                                <td>{{model.rejectedAt| date:'MMM d, y h:mm:ss a' }}</td>
                            </tr>
                            <tr ng-if="!!model.cancelledAt">
                                <td class="detail-bold">{{ 'CANCELLED_AT' | translate }}</td>
                                <td>{{model.cancelledAt| date:'MMM d, y h:mm:ss a' }}</td>
                            </tr>
                            <tr ng-if="!!model.reviewedAt">
                                <td class="detail-bold">{{ 'REVIEWED_AT' | translate }}</td>
                                <td>{{model.reviewedAt| date:'MMM d, y h:mm:ss a' }}</td>
                            </tr>
                            <tr ng-if="model.updatedAt">
                                <td class="detail-bold">{{ 'UPDATED_AT' | translate }}</td>
                                <td>{{model.updatedAt| date:'MMM d, y h:mm:ss a'}}</td>
                            </tr>
                            <tr ng-if="model.notes">
                                <td class="detail-bold">{{ 'NOTES' | translate }}</td>
                                <td ng-bind-html="getHtml(model.notes)"></td>
                            </tr>
                            <tr ng-if="model.url">
                                <td class="detail-bold">{{ 'URL' | translate }}</td>
                                <td><a target="_blank" ng-href="{{model.url}}">{{model.url}}</a></td>
                            </tr>
                            <tr ng-if="model.gatheringDate">
                                <td class="detail-bold">{{ 'GATHERING_DATE' | translate }}</td>
                                <td>{{model.gatheringDate| date:'MMM d, y h:mm:ss a' : 'UTC' }}</td>
                            </tr>
                            <tr>
                                <td class="detail-bold">{{ 'UPDATED_VIEW' | translate }}</td>
                                <td><span class="label label-default {{model.updated ? 'bg-primary color-white' : ''}}" >{{model.updated ? 'Si' : 'No'}}</span></td>
                            </tr>
                            <tr>
                                <td class="detail-bold">{{ 'LAYOUT' | translate }}</td>
                                <td><span class="label label-default {{model.layout ? 'bg-primary color-white' : ''}}" >{{model.layout ? 'Si' : 'No'}}</span></td>
                            </tr>
                            <tr ng-repeat="(key, val) in model.optionals">
                                <td class="detail-bold">{{key}}</td>
                                <td>{{val}}</td>
                            </tr>
                        </table>
                        <h4 ng-if="!!model.restService || !!model.soapService" class="box-title">{{ 'DETAILS_FOR' | translate }} {{ 'WEBSERVICE' | translate }}</h4>
                        <table class="table usertable" ng-if="!!model.restService || !!model.soapService">
                            <tr ng-if="model.restService">
                                <td class="detail-bold">{{ 'WEBSERVICE_URL' | translate }}</td>
                                <td>{{model.restService.url}}</td>
                            </tr>
                            <tr ng-if="model.soapService">
                                <td class="detail-bold">{{ 'WEBSERVICE_URL' | translate }}</td>
                                <td>{{model.soapService.url}}</td>
                            </tr>
                            <tr>
                                <td class="detail-bold">{{ 'WEBSERVICE_TYPE' | translate }}</td>
                                <td>{{ model.restService ? 'Rest' : 'Soap'}}</td>
                            </tr>
                            <tr ng-if="model.restService.datapath">
                                <td class="detail-bold">{{ 'DATA_URL' | translate }}</td>
                                <td>{{model.restService.datapath}}</td>
                            </tr>
                            <tr ng-if="model.restService.titlepath">
                                <td class="detail-bold">Ruta a los titulos de tabla</td>
                                <td>{{model.restService.titlepath}}</td>
                            </tr>
                            <tr ng-if="model.soapService.method">
                                <td class="detail-bold">{{ 'METHOD' | translate }}</td>
                                <td>{{model.soapService.method}}</td>
                            </tr>
                            <tr ng-if="model.soapService.namespace">
                                <td class="detail-bold">{{ 'NAMESPACE' | translate }}</td>
                                <td>{{model.soapService.namespace}}</td>
                            </tr>
                            <tr ng-if="model.soapService">
                                <td class="detail-bold">{{ 'USE_ATTRS_HEADERS' | translate }}</td>
                                <td>
                                    <span class="label label-default {{model.soapService.attrs_as_headers ? 'bg-primary color-white' : ''}}">{{model.soapService.attrs_as_headers ? 'Si' : 'No'}}</span>
                                </td>
                            </tr>
                            <tr ng-repeat="item in model.items_webservice">
                                <td class="detail-bold">{{item.field1}}</td>
                                <td>{{item.field2}}</td>
                            </tr>

                        </table>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button back-button class="btn btn-default pull-left">
                            {{ 'BACK' | translate }}
                        </button>
                        <div class="pull-right">
                            <a ng-if="!!model.url && (!!model.type.api || model.type.name == 'pdf')" class="btn btn-primary" ng-href="#/files/{{model.id}}/preview">{{ 'PREVIEW' | translate }}</a>
                            <a class="btn btn-primary" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{model.id}}" ng-click="confirmDelete($event)" permission permission-except="roles.GUEST">{{ 'DELETE' | translate }}</a>
                            <button type="submit" class="btn btn-primary" ng-click="edit(model)" show-policy-if-guest-user="files">{{ 'EDIT' | translate }}</button>
                            <a ng-if="!!model.url" class="btn btn-primary" target="_blank" href="{{ model.url}}" download="{{ model.name}}">{{ 'DOWNLOAD' | translate }}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--  Main content-->
    <div class="modal fade" id="viewLinkResources" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'VISUALIZATIONS' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <th>{{ 'VISUALIZATION' | translate }}</th>
                        <th>{{ 'TYPE' | translate }}</th>
                        <th class="text-center box-actions">{{ 'ACTIONS' | translate }}</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="map in model.resources.data.maps | filterIfGuestUser | orderBy: 'name'">
                                <td>
                                    <span>{{map.name}}</span>
                                </td>
                                <td>
                                    <span>{{'MAP'| translate }}</span>
                                </td>
                                <td class="text-center box-actions">
                                    <a target="_blank" class="btn btn-primary" ng-href="#/maps/{{map.id}}/view">{{ 'VIEW' | translate }}</a>
                                    <a target="_blank" class="btn btn-primary" ng-href="#/maps/{{map.id}}/edit" show-policy-if-guest-user="maps">{{ 'EDIT' | translate }}</a>
                                    <a class="btn btn-primary" ng-click="deleteResource(map.id, 'maps')" permission permission-except="roles.GUEST">{{ 'DELETE' | translate }}</a>
                                    <button ng-click="unPublish(map.id, 'maps')" ng-if="map.status.id == statuses.published" class="pull-right btn btn-primary" permission permission-except="roles.GUEST">{{ 'UNPUBLISH' | translate }}</button>
                                    <button ng-click="publish(map.id, 'maps')" ng-if="map.status.id !== statuses.published" class="pull-right btn btn-primary" permission permission-except="roles.GUEST">{{ 'PUBLISH' | translate }}</button>
                                    <button ng-click="reject(map.id, 'maps')" ng-if="map.status.id == statuses.underReview" class="pull-right btn btn-primary margin-right-10" permission permission-except="roles.GUEST">{{ 'REJECT' | translate }}</button>
                                    <button ng-click="sendReview(map.id, 'maps')" ng-if="map.status.id == statuses.draft" class="pull-right btn btn-primary" permission permission-only="roles.GUEST">{{ 'SEND_TO_REVIEW' | translate }}</button>
                                    <button ng-click="cancel(map.id, 'maps')" ng-if="map.status.id == statuses.underReview" class="pull-right btn btn-primary margin-right-10" permission permission-only="roles.GUEST" show-policy-if-guest-user="maps">{{ 'CANCEL' | translate }}</button>
                                </td>
                            </tr>
                            <tr ng-repeat="chart in model.resources.data.charts | filterIfGuestUser | orderBy: 'name'">
                                <td>
                                    <span>{{chart.name}}</span>
                                </td>
                                <td>
                                    <span>{{'CHART'| translate }}</span>
                                </td>
                                <td class="text-center box-actions">
                                    <a target="_blank" class="btn btn-primary" ng-href="#/charts/{{chart.id}}/view">{{ 'VIEW' | translate }}</a>
                                    <a target="_blank" class="btn btn-primary" ng-href="#/charts/{{chart.id}}/edit" show-policy-if-guest-user="charts">{{ 'EDIT' | translate }}</a>
                                    <a class="btn btn-primary" ng-click="deleteResource(chart.id, 'charts')" permission permission-except="roles.GUEST">{{ 'DELETE' | translate }}</a>
                                    <button ng-click="unPublish(chart.id, 'charts')" ng-if="chart.status.id == statuses.published" class="pull-right btn btn-primary" permission permission-except="roles.GUEST">{{ 'UNPUBLISH' | translate }}</button>
                                    <button ng-click="publish(chart.id, 'charts')" ng-if="chart.status.id !== statuses.published" class="pull-right btn btn-primary" permission permission-except="roles.GUEST">{{ 'PUBLISH' | translate }}</button>
                                    <button ng-click="reject(chart.id, 'charts')" ng-if="chart.status.id == statuses.underReview" class="pull-right btn btn-primary margin-right-10" permission permission-except="roles.GUEST">{{ 'REJECT' | translate }}</button>
                                    <button ng-click="sendReview(chart.id, 'charts')" ng-if="chart.status.id == statuses.draft" class="pull-right btn btn-primary" permission permission-only="roles.GUEST">{{ 'SEND_TO_REVIEW' | translate }}</button>
                                    <button ng-click="cancel(chart.id, 'charts')" ng-if="chart.status.id == statuses.underReview" class="pull-right btn btn-primary margin-right-10" permission permission-only="roles.GUEST" show-policy-if-guest-user="charts">{{ 'CANCEL' | translate }}</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-home></footer-home>
