<header-home></header-home>
<div class="content-wrapper">
 <breadcrumbs data-type="{{ 'VIEW' | translate }}" data-model-name="{{ 'DATABASES' | translate }}" data-model="{{type}}"></breadcrumbs>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">{{ 'DETAILS_FOR' | translate }} <b>{{model.name}}</b></h3>
                    </div>
                      <table class="table usertable">
                        <tr ng-if="model.name">
                            <td>{{ 'NAME' | translate }}</td>
                            <td>{{model.name}}</td>
                        </tr>
                        <tr ng-if="model.collection">
                            <td>{{ 'COLLECTION' | translate }}</td>
                            <td>{{model.collection}}</td>
                        </tr>
                        <tr ng-if="model.url">
                            <td>{{ 'URL' | translate }}</td>
                            <td><a target="_blank" ng-href="{{model.url}}">{{model.url}}</a></td>
                        </tr>

                    </table>
                    <div class="box-footer"> 
                        <button back-button class="btn btn-default pull-left">
                            {{ 'BACK' | translate }}
                        </button >
                        <button type="submit" class="btn btn-primary pull-right" ng-click="edit(model)">{{ 'EDIT' | translate }}</button>
                    </div>
                </div>  
              
            </div>
        </div>    
    </section>
    <!--  Main content-->
</div>
<footer-home></footer-home>