<header-home></header-home>
<div class="content-wrapper">
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-dashboard"></i> {{ 'HOME' | translate }}</a>
                    </li>
                    <li class="active">{{ 'USERS' | translate }}</li>
                </ol>        
            </div>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{{ 'USERS' | translate }}</h3>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <div class="input-group-btn">
                        <a ng-href="#/{{type}}/new" class="btn-primary btn nodecoration pull-right">{{ 'ADD_NEW' | translate }} {{ 'USER' | translate }}</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body ">
            <div class="col-xs-12">asdfa</div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        </div>
    </section>
    <!--  Main content-->
</div>
<footer-home></footer-home>