<header-home></header-home>
<div class="content-wrapper">
    <breadcrumbs data-type="{{ 'VIEW' | translate }}" data-model-name="{{ 'CATEGORY' | translate }}" data-model="{{type}}"></breadcrumbs>
    <!-- Main content -->
    <section class="content">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'DETAILS_FOR' | translate }} <b>{{ 'CATEGORY' | translate }}</b></h3>
            <a ng-href="#/categories/new/{{model.id}}" ng-if="!model.parent" class="btn-primary btn pull-right" permission permission-except="roles.GUEST">{{ 'ADD' | translate }} {{ 'SUBCATEGORY' | translate }}</a>
            <button permission permission-except="roles.GUEST" ng-if="model.subcategories.length > 0" data-toggle="modal" data-target="#viewLinkSubcategories" class="btn btn-default pull-right margin-right-10"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'VIEW_LINK_SUBCATEGORIES' | translate }}</button>
            <button permission permission-except="roles.GUEST" ng-if="model.datasets.length > 0"  data-toggle="modal" data-target="#viewLinkRelationships" class="btn btn-default pull-right margin-right-10"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'VIEW_LINK_RELATIONSHIPS' | translate }}</button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body table-responsive no-padding">
                        <table class="table usertable">
                            <tr ng-if="model.name">
                                <td class="detail-bold">{{ 'NAME' | translate }}</td>
                                <td>{{model.name}}</td>
                            </tr>
                            <tr ng-if="model.description">
                                <td class="detail-bold">{{ 'DESCRIPTION' | translate }}</td>
                                <td ng-bind-html="getHtml(model.description)"></td>
                            </tr>
                            <tr ng-if="model.color">
                                <td class="detail-bold">{{ 'COLOR' | translate }}</td>
                                <td style="max-width: 50px;">
                                    <color-picker ng-model="model.color" options="options_color"></color-picker>
                                </td>
                            </tr>
                            <tr ng-if="model.id">
                                <td class="detail-bold">{{ 'IMAGE' | translate }}</td>
                                <td>
                                    <div class="category-image" svg-img="model.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="detail-bold">{{ 'STATE' | translate }}</td>
                                <td><span class="label label-default {{model.deletedAt ? '' : 'bg-primary color-white'}}">{{model.deletedAt ? 'Inactivo' : 'Activo'}}</span></td>
                            </tr>
                            <tr ng-if="model.subcategories.length > 0">
                                <td class="detail-bold">{{ 'SUBCATEGORIES' | translate }}</td>
                                <td ng-bind-html="getHtml(subcategoriesNames)"></td>
                            </tr>
                            <tr ng-if="model.createdBy">
                                <td class="detail-bold">{{ 'CREATED_BY' | translate }} </td>
                                <td><a ng-href="#/users/{{model.createdBy.id}}/view" href-policy-if-guest-user>{{model.createdBy.username}}</a></td>
                            </tr>
                            <tr ng-if="model.createdAt">
                                <td class="detail-bold">{{ 'CREATED_AT' | translate }}</td>
                                <td>{{model.createdAt| date:'MMM d, y h:mm:ss a'}}</td>
                            </tr>
                            <tr ng-if="model.updatedAt">
                                <td class="detail-bold">{{ 'UPDATED_AT' | translate }}</td>
                                <td>{{model.updatedAt| date:'MMM d, y h:mm:ss a'}}</td>
                            </tr>
                            <tr ng-if="!!model.parent">
                                <td class="detail-bold">{{ 'PARENT_CATEGORY' | translate }}</td>
                                <td><a ng-href="#/categories/{{model.parent.id}}/view">{{model.parent.name}}</a></td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button back-button class="btn btn-default pull-left">
                            {{ 'BACK' | translate }}
                        </button>
                        <button type="submit" class="btn btn-primary pull-right" ng-click="edit(model)"  permission permission-except="roles.GUEST">{{ 'EDIT' | translate }}</button>
                        <a ng-if="model.deletedAt" class="pull-right btn btn-primary btn-activate" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}"
                            data-id="{{model.id}}" ng-click="activeModel($event)" permission permission-except="roles.GUEST">{{ 'ACTIVATE' | translate }}</a>
                        <a ng-if="!model.deletedAt" class="pull-right btn btn-primary btn-activate" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}"
                            data-id="{{model.id}}" ng-click="inactiveModel($event)" permission permission-except="roles.GUEST">{{ 'INACTIVATE' | translate }}</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--  Main content-->
    <!-- Linked Subcategories -->
    <div class="modal fade" id="viewLinkSubcategories" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'SUBCATEGORIES' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <th>{{ 'SUBCATEGORY' | translate }}</th>
                            <th>{{ 'STATE' | translate }}</th>
                            <th class="text-center box-actions">{{ 'ACTIONS' | translate }}</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subcategory in model.subcategories">
                                <td>
                                    <span>{{subcategory.name}}</span>
                                </td>
                                <td>
                                    <span class="label label-default">{{subcategory.deletedAt ? 'Inactivo' : 'Activo'}}</span>
                                </td>
                                <td class="text-center box-actions">
                                    <a target="_blank" class="btn btn-primary" ng-href="#/categories/{{subcategory.id}}/view">{{ 'VIEW' | translate }}</a>
                                    <a target="_blank" class="btn btn-primary" ng-href="#/categories/{{subcategory.id}}/edit"  permission permission-except="roles.GUEST">{{ 'EDIT' | translate }}</a>
                                    <a ng-if="!subcategory.datasets.length" class="btn btn-primary" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{subcategory.id}}"
                                        ng-click="confirmDelete($event)"  permission permission-except="roles.GUEST">{{ 'DELETE' | translate }}</a>
                                    <a ng-if="subcategory.deletedAt" class="btn btn-primary pull-right" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{subcategory.id}}"
                                        ng-click="activeModel($event)"  permission permission-except="roles.GUEST">{{ 'ACTIVATE' | translate }}</a>
                                    <a ng-if="!subcategory.deletedAt" class="btn btn-primary pull-right" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{subcategory.id}}"
                                        ng-click="inactiveModel($event)"  permission permission-except="roles.GUEST">{{ 'INACTIVATE' | translate }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- Linked Subcategories -->
            <!--  Main content-->
        <div class="modal fade" id="viewLinkRelationships" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'RELATIONSHIPS' | translate }}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <th>{{ 'NAME' | translate }}</th>
                                <th>{{ 'TYPE' | translate }}</th>
                                <th class="text-center box-actions">{{ 'ACTIONS' | translate }}</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dataset in model.datasets">
                                    <td>
                                        <span>{{dataset.name}}</span>
                                    </td>
                                    <td>
                                        <span>{{'DATASET'| translate }}</span>
                                    </td>
                                    <td class="text-center box-actions">
                                        <a target="_blank" class="btn btn-primary" ng-href="#/datasets/{{dataset.id}}/view">{{ 'VIEW' | translate }}</a>
                                        <a target="_blank" class="btn btn-primary" ng-href="#/datasets/{{dataset.id}}/edit"  permission permission-except="roles.GUEST">{{ 'EDIT' | translate }}</a>
                                        <a class="btn btn-primary" ng-click="deleteResource(dataset.id, 'datasets')" permission permission-except="roles.GUEST">{{ 'DELETE' | translate }}</a>
                                        <button ng-click="unPublish(dataset.id, 'datasets')" ng-if="dataset.status.id == statuses.published" class="pull-right btn btn-primary" permission permission-except="roles.GUEST">{{ 'UNPUBLISH' | translate }}</button>
                                        <button ng-click="publish(dataset.id, 'datasets')" ng-if="dataset.status.id !== statuses.published" class="pull-right btn btn-primary" permission permission-except="roles.GUEST">{{ 'PUBLISH' | translate }}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
<footer-home></footer-home>