<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
        <input type="text" ng-model="user.title" class="form-control" id="title" placeholder="user Title Here"/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">Release Year</label>
    <div class="col-sm-10">
        <input type="text" ng-model="user.releaseYear" class="form-control" id="year" placeholder="When was the user released?"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Director</label>
    <div class="col-sm-10">
        <input type="text" ng-model="user.director" class="form-control" id="director" placeholder="Who directed the user?"/>
    </div>
</div>

<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">user Genre</label>
    <div class="col-sm-10">
        <input type="text" ng-model="user.genre" class="form-control" id="plot" placeholder="user genre here"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>