<header-home></header-home>
<div class="content-wrapper">
    <breadcrumbs   data-model-name="{{ 'USERS' | translate }}" data-model="{{type}}"></breadcrumbs>
    <!-- Main content -->
    <section class="content">
      <div class="box-header">
          <h3 class="box-title">{{ 'USERS' | translate }}</h3>
          <div class="box-tools">
              <a ng-href="#/users/new" class="btn-primary btn nodecoration pull-right" permission permission-only="roles.SUPERADMIN">{{ 'ADD' | translate }} {{ 'USER' | translate }}</a>
          </div>
      </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        <!--<search-bar data-search="{required:true,name:'Username'}" data-filters="{{filtersView}}"></search-bar>-->

                        <table class="table table-hover">
                            <tbody><tr>
                                    <!-- <th>{{ 'ID' | translate }}</th>-->
                                    <th>{{ 'USER_NAME' | translate }}</th>
                                    <th>{{ 'EMAIL' | translate }}</th>
                                    <th>{{ 'STATE' | translate }}</th>
                                    <th class="text-center">{{ 'ACTIONS' | translate }}</th>
                                </tr>
                                <tr ng-if="data.data.length == 0">
                                    <td colspan="3">No se encuentran datos para mostrar.</td>
                                </tr>
                                <tr ng-if="data.data.length != 0" ng-repeat="model in data.data">
                                    <!--<td>{{model.id}}</td>-->
                                    <td>{{model.username}}</td>
                                    <td>{{model.email}}</td>
                                    <td>
                                        <span class="label label-default" ng-class="activeClass(model.deletedAt)">{{model.deletedAt ? 'Inactivo' : 'Activo'}}</span>
                                    </td>
                                    <td class="text-center table-btn">
                                        <a class="btn btn-primary" ng-click="view({id: model.id})">{{ 'VIEW' | translate }}</a>
                                        <a class="btn btn-primary" ng-click="edit({id: model.id})" permission permission-only="roles.SUPERADMIN">{{ 'EDIT' | translate }}</a>
                                        <!--<a class="btn btn-primary" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{model.id}}" ng-click="confirmDelete($event)">{{ 'DELETE' | translate }}</a>-->
                                        <a ng-if="model.deletedAt" class="btn btn-primary btn-activate" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{model.id}}" ng-click="activeModel($event)" permission permission-only="roles.SUPERADMIN">{{ 'ACTIVATE' | translate }}</a>
                                        <a ng-if="!model.deletedAt" class="btn btn-primary btn-activate" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{model.id}}" ng-click="inactiveModel($event)" permission permission-only="roles.SUPERADMIN"> {{ 'INACTIVATE' | translate }}</a>
                                        <!--<a ng-if="!model.datasets.length" class="btn btn-primary" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{model.id}}" ng-click="confirmDelete($event)">{{ 'DELETE' | translate }}</a>-->
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <paging page="data.meta.page" page-size="parameters.limit" total="data.meta.count"
                            paging-action="paging('pageClick', page, pageSize, total)"
                            show-prev-next="true"
                            show-first-last="true" hide-if-empty="true"></paging>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!--  Main content-->
</div>
<footer-home></footer-home>
