<header-home></header-home>
<div class="content-wrapper">

    <section class="content-header">
        <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <a ui-sref="newMovie" class="btn-primary btn-lg nodecoration">Add New User</a>
        <table class="table usertable">
            <tr>
                <td><h3>All Users</h3></td>
                <td></td>
            </tr>

            <tr ng-repeat="user in data.data">
                <td>{{user.username}}</td>
                <td>
                    <a class="btn btn-primary" ui-sref="viewUser({id:user.id})">View</a>
                    <a class="btn btn-danger"  ng-click="deleteUser(user)">Delete</a>
                </td>
            </tr>
        </table>
    </section>
    <!--  Main content-->

</div>

<footer-home></footer-home>

