<header-home></header-home>
<div class="content-wrapper">

    <section class="content-header">
        <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <table class="table usertable">
            <tr>
                <td><h3>Details for {{user.title}}</h3></td>
                <td></td>
            </tr>
            <tr>
                <td>user Title</td>
                <td>{{user.title}}</td>
            </tr>
            <tr>
                <td>Director</td>
                <td>{{user.director}}</td>
            </tr>
            <tr>
                <td>Release Year</td>
                <td>{{user.releaseYear}}</td>
            </tr>
            <tr>
                <td>user Genre</td>
                <td>{{user.genre}}</td>
            </tr>
        </table>
        <div>
            <a class="btn btn-primary" ui-sref="editUser({id:user._id})">Edit</a>
        </div>
    </section>
    <!--  Main content-->

</div>

<footer-home></footer-home>

<script src="js/main.js"></script>