<!-- Input name -->
<div class="form-group">
    <label for="name" class="col-sm-2 control-label">* {{ 'NAME' | translate }}</label>
    <div class="col-sm-10" ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
        <input type="text" ng-model="model.name" class="form-control" id="name" placeholder="{{ 'PLACE' | translate }} {{ 'NAME' | translate }} {{ 'HERE' | translate }}" required />
        <div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched">
            <div ng-messages-include="views/messages.html"></div>
        </div>
    </div>
</div>
<!-- end Input name -->

<!-- Input url -->
<div class="form-group">
    <label for="url" class="col-sm-2 control-label">* {{ 'URL' | translate }}</label>
    <div class="col-sm-10" ng-class="{ 'has-error': form.url.$touched && form.url.$invalid }">
        <input type="text" ng-model="model.url" class="form-control" id="url" placeholder="{{ 'PLACE' | translate }} {{ 'URL' | translate }} {{ 'HERE' | translate }}" required />
        <div class="help-block" ng-messages="form.url.$error" ng-if="form.url.$touched">
            <div ng-messages-include="views/messages.html"></div>
        </div>
    </div>
</div>
<!-- end Input url -->


<!-- Input TMS -->
<div class="form-group">
    <label class="col-sm-2 control-label">TMS</label>
    <div class="col-sm-10" ng-class="{ 'has-error': form.starred.$touched && form.starred.$invalid }">
        <div>
            <label class="btn btn-default" ng-class="activeClass(model.tms, 1)">
                <input   type="radio" ng-value="true" name="tms"    ng-model="model.tms" id="option1" autocomplete="off" ng-checked="model.V"> {{ 'YES' | translate }}
            </label>
            <label class="btn btn-warning" ng-class="activeClass(model.tms, 2)">
                <input type="radio" ng-value="false" name="tms"  ng-model="model.tms" id="option2" autocomplete="off"> {{ 'NO' | translate }}
            </label>
        </div>

        <div class="help-block" ng-messages="form.tms.$error" ng-if="form.tms.$touched">
            <div ng-messages-include="views/messages.html"></div>
        </div>
    </div>
</div>
<!-- end Input TMS -->

<!-- Input minZoom -->
<div class="form-group">
    <label for="minZoom" class="col-sm-2 control-label">{{ 'MIN' | translate }}</label>
    <div class="col-sm-10" ng-class="{ 'has-error': form.minZoom.$touched && form.minZoom.$invalid }" uib-tooltip="Valores posibles de {{baseMin}} a {{baseMax}}. Se pueden modificar en las configuraciones." tooltip-placement="left">
        <input type="number" ng-model="model.minZoom" min="{{baseMin}}" max="{{model.maxZoom}}" class="form-control" id="minZoom" placeholder="{{ 'PLACE' | translate }} {{ 'MIN' | translate }} {{ 'HERE' | translate }}" />
        <div class="help-block" ng-messages="form.minZoom.$error" ng-if="form.minZoom.$touched">
            <div ng-messages-include="views/messages.html"></div>
        </div>
    </div>
</div>
<!-- end Input min -->

<!-- Input maxZoom -->
<div class="form-group">
    <label for="maxZoom" class="col-sm-2 control-label">{{ 'MAX' | translate }}</label>
    <div class="col-sm-10" ng-class="{ 'has-error': form.maxZoom.$touched && form.maxZoom.$invalid }" uib-tooltip="Valores posibles de {{baseMin}} a {{baseMax}}. Se pueden modificar en las configuraciones." tooltip-placement="left">
        <input type="number" ng-model="model.maxZoom" min="{{model.minZoom}}" max="{{baseMax}}" class="form-control" id="maxZoom" placeholder="{{ 'PLACE' | translate }} {{ 'MAX' | translate }} {{ 'HERE' | translate }}" />
        <div class="help-block" ng-messages="form.maxZoom.$error" ng-if="form.maxZoom.$touched">
            <div ng-messages-include="views/messages.html"></div>
        </div>
    </div>
</div>
<!-- end Input max -->

<!-- Input attribution -->
<div class="form-group">
    <label for="attribution" class="col-sm-2 control-label">{{ 'ATTRIBUTION' | translate }}</label>
    <div class="col-sm-10" ng-class="{ 'has-error': form.attribution.$touched && form.attribution.$invalid }">
        <input type="text" ng-model="model.attribution" class="form-control" id="attribution" placeholder="{{ 'PLACE' | translate }} {{ 'ATTRIBUTION' | translate }} {{ 'HERE' | translate }}" />
        <div class="help-block" ng-messages="form.attribution.$error" ng-if="form.attribution.$touched">
            <div ng-messages-include="views/messages.html"></div>
        </div>
    </div>
</div>
<!-- end Input attribution -->


<div class="extraoptionals" ng-repeat="item in model.items">
    <!-- Input optional -->
    <div class="form-group" id="option1">
        <label class="col-sm-2 control-label">{{ 'OPTIONAL' | translate }} {{increment($index)}}</label>
        <div class="col-sm-10" ng-class="{ 'has-error': form[item.name].$touched && form[item.name].$invalid }">

            <div class="row">
                <div class="col-xs-5">
                    <input type="text" ng-model="model.items[$index].field1" name="{{item.field}}" class="form-control" id="title" required />
                </div>
                <div class="col-xs-5">
                    <input type="text" ng-model="model.items[$index].field2" name="{{item.field}}" class="form-control" id="title" required />
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-danger" ng-click="deleteIndexInput($index)" type="button">X</button>
                </div>

            </div>
            <div class="help-block" ng-messages="form[item.name].$error" ng-if="form[item.name].$touched">
                <div ng-messages-include="views/messages.html"></div>
            </div>
        </div>
    </div>
    <!-- end Input optional -->
</div>
<!-- Input optional -->
<div class="form-group">
    <label for="title" class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
        <button type="button" ng-click="addInput()" ng-show="model.items.length < 10" class="btn btn-default">{{ 'ADD_OPTION' | translate }}</button>
    </div>
</div>
<!-- end Input optional -->



<!-- Button save  -->
<div class="box-footer">
    <div class="col-sm-12">
        <button type="button" back-button class="btn btn-default pull-left">
            {{ 'BACK' | translate }}
        </button>
        <input type="submit" class="btn btn-primary pull-right" value="{{ 'SAVE' | translate }}" ng-disabled="form.$invalid" />
    </div>
</div>
<!-- end Button save -->
