<script type="text/javascript" src="/admin/plugins/redirect.js"></script>
<header-home></header-home>
<div class="content-wrapper">
    <breadcrumbs data-type="{{ 'VIEW' | translate }}" data-model-name="{{ 'BASEMAP' | translate }}" data-model="{{type}}"></breadcrumbs>
    <!-- Main content -->
    <section class="content">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'DETAILS_FOR' | translate }} <b>{{model.description}}</b></h3>

            <button permission permission-except="roles.GUEST" ng-if="model.maps.length > 0"  data-toggle="modal" data-target="#viewLinkRelationships" class="btn btn-default pull-right margin-right-10"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'VIEW_LINK_RELATIONSHIPS' | translate }}</button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body table-responsive no-padding">
                        <table class="table usertable">
                            <tr ng-if="model.name">
                                <td class="detail-bold">{{ 'NAME' | translate }}</td>
                                <td>{{model.name}}</td>
                            </tr>
                            <tr ng-if="model.url">
                                <td class="detail-bold">{{ 'URL' | translate }}</td>
                                <td>{{model.url}}</td>
                            </tr>
                            <tr>
                                <td class="detail-bold">{{ 'ACTIVE_INACTIVE' | translate }}</td>
                                <td><span class="label label-default {{model.deletedAt ? '' : 'bg-primary condition-active'}}">{{model.deletedAt ? 'Inactivo' : 'Activo'}}</span></td>
                            </tr>
                            <tr>
                                <td class="detail-bold">{{ 'TMS' | translate }}</td>
                                <td><span class="label label-default {{model.tms ? 'bg-primary condition-active' : ''}}">{{model.tms ? 'Si' : 'No'}}</span></td>
                            </tr>
                            <tr>
                                <td class="detail-bold">{{ 'MIN' | translate }}</td>
                                <td>{{model.minZoom}}</td>
                            </tr>
                            <tr>
                                <td class="detail-bold">{{ 'MAX' | translate }}</td>
                                <td>{{model.maxZoom}}</td>
                            </tr>
                            <tr ng-if="model.attribution">
                                <td class="detail-bold">{{ 'ATTRIBUTION' | translate }}</td>
                                <td>{{model.attribution}}</td>
                            </tr>
                            <tr ng-if="model.createdBy">
                                <td class="detail-bold">{{ 'CREATED_BY' | translate }} </td>
                                <td><a ng-href="users/{{model.createdBy.id}}/view" href-policy-if-guest-user>{{model.createdBy.username}}</a></td>
                            </tr>
                            <tr ng-if="model.createdAt">
                                <td class="detail-bold">{{ 'CREATED_AT' | translate }}</td>
                                <td>{{model.createdAt| date:'MMM d, y h:mm:ss a'}}</td>
                            </tr>
                            <tr ng-if="model.updatedAt">
                                <td class="detail-bold">{{ 'UPDATED_AT' | translate }}</td>
                                <td>{{model.updatedAt| date:'MMM d, y h:mm:ss a'}}</td>
                            </tr>
                            <tr ng-repeat="(key, val) in model.optionals">
                                <td class="detail-bold">{{key}}</td>
                                <td>{{val}}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button back-button class="btn btn-default pull-left">
                            {{ 'BACK' | translate }}
                        </button>
                        <button type="submit" class="btn btn-primary pull-right" ng-click="edit(model)" permission permission-except="roles.GUEST">{{ 'EDIT' | translate }}</button>
                        <a ng-if="model.deletedAt" class="pull-right btn btn-primary btn-activate" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{model.id}}" ng-click="activeModel($event)" permission permission-except="roles.GUEST">{{ 'ACTIVATE' | translate }}</a>
                        <a ng-if="!model.deletedAt" class="pull-right btn btn-primary btn-activate" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{model.id}}" ng-click="inactiveModel($event)" permission permission-except="roles.GUEST">{{ 'INACTIVATE' | translate }}</a>
                        <a uib-tooltip="No puede realizar esta acción. Este {{ 'BASEMAP' | translate | lowercase }} tiene relaciones." tooltip-placement="top" tooltip-enable="model.maps.length" tooltip-append-to-body="true" ng-disabled="model.maps.length" class="btn btn-primary pull-right" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{model.id}}" ng-click="model.maps.length ? null : confirmDelete($event)" permission permission-except="roles.GUEST">{{ 'DELETE' | translate }}</a>
                    </div>
                </div>

            </div>
        </div>
        <!--  Main content-->
        <div class="modal fade" id="viewLinkRelationships" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'RELATIONSHIPS' | translate }}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <th>{{ 'NAME' | translate }}</th>
                                <th>{{ 'TYPE' | translate }}</th>
                                <th class="text-center box-actions">{{ 'ACTIONS' | translate }}</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="map in model.maps | orderBy: 'name'">
                                    <td>
                                        <span>{{map.name}}</span>
                                    </td>
                                    <td>
                                        <span>{{'MAP'| translate }}</span>
                                    </td>
                                    <td class="text-center box-actions">
                                        <a target="_blank" class="btn btn-primary" ng-href="maps/{{map.id}}/view">{{ 'VIEW' | translate }}</a>
                                        <a target="_blank" class="btn btn-primary" ng-href="maps/{{map.id}}/edit" show-policy-if-guest-user="{{map}}">{{ 'EDIT' | translate }}</a>
                                        <a class="btn btn-primary" ng-click="deleteResource(map.id, 'maps')" permission permission-except="roles.GUEST">{{ 'DELETE' | translate }}</a>
                                        <button ng-click="unPublish(map.id, 'maps')" ng-if="map.status == statuses.published" class="pull-right btn btn-primary" permission permission-except="roles.GUEST">{{ 'UNPUBLISH' | translate }}</button>
                                        <button ng-click="publish(map.id, 'maps')" ng-if="map.status !== statuses.published && map.status !== statuses.rejected" class="pull-right btn btn-primary" permission permission-except="roles.GUEST">{{ 'PUBLISH' | translate }}</button>
                                        <button ng-click="reject(map.id, 'maps')" ng-if="map.status == statuses.underReview" class="pull-right btn btn-primary margin-right-10" permission permission-except="roles.GUEST">{{ 'REJECT' | translate }}</button>
                                        <button ng-click="sendReview(map.id, 'maps')" ng-if="map.status == statuses.draft" class="pull-right btn btn-primary" permission permission-only="roles.GUEST">{{ 'SEND_TO_REVIEW' | translate }}</button>
                                        <button ng-click="cancel(map.id, 'maps')" ng-if="map.status == statuses.underReview" class="pull-right btn btn-primary margin-right-10" permission permission-only="roles.GUEST" show-policy-if-guest-user="{{map}}">{{ 'CANCEL' | translate }}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Main content-->
</div>
<footer-home></footer-home>
