<header-home></header-home>
<div class="content-wrapper">
    <breadcrumbs data-type="{{ 'PREVIEW_OF' | translate }}" data-model-name="{{ 'CHARTS' | translate }}" data-model="{{type}}"></breadcrumbs>
    <!-- Main content -->
    <section class="content">
      <div class="box-header with-border">
          <h3 class="box-title">{{ 'PREVIEW_OF' | translate }} {{ model.name}}</h3>
      </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body table-responsive no-padding">
                        <iframe id="iframeDiv" ng-if="model.link" ng-src="{{ model.link}}"></iframe>
                        <canvas ng-if="!model.link && model.dataChart && !!model.series.length" id="chartDiv" class="chart chart-base" chart-type="model.type"
                                chart-data="model.dataChart.data" chart-labels="model.data.labels" chart-dataset-override="model.series" chart-colors="model.colors"></canvas>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button back-button class="btn btn-default pull-left">
                            {{ 'BACK' | translate }}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--  Main content-->
</div>

<footer-home></footer-home>
