<header-home></header-home>
<div class="content-wrapper">
    <breadcrumbs data-type="{{ 'VIEW' | translate }}" data-model-name="{{ 'CHARTS' | translate }}" data-model="{{type}}"></breadcrumbs>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'DETAILS_FOR' | translate }} {{ model.name}}</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <iframe id="iframeDiv" ng-if="model.link" ng-src="{{ model.link}}"></iframe>
                        <canvas ng-if="!model.link" id="chartDiv" class="chart chart-base" chart-type="model.type"
                                chart-data="model.data.data" chart-labels="model.data.labels"></canvas>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-click="edit(model)">{{ 'EDIT' | translate }}</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--  Main content-->
</div>

<footer-home></footer-home>
