<header-home></header-home>
<div class="content-wrapper">
    <breadcrumbs data-model-name="{{ 'MAPS' | translate }}" data-model="{{type}}" ng-if="!underReview"></breadcrumbs>
    <breadcrumbs data-model-name="{{ 'UNDER_REVIEW' | translate }}" data-model="{{type}}" ng-if="underReview"></breadcrumbs>
    <!-- Main content -->
    <section class="content">
        <div class="box-header">
            <h3 class="box-title">{{ 'MAPS' | translate }}</h3>
            <h3 class="box-title" ng-if="underReview">{{ 'UNDER_REVIEW' | translate }}</h3>
        </div>
          <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        <search-bar data-search="{required:true,name:'Nombre'}" data-filters="{{filtersView}}"></search-bar>

                        <table class="table table-hover">
                            <tbody><tr>
                                    <th>{{ 'NAME' | translate }}</th>
                                    <th>{{ 'STATE' | translate }}</th>
                                    <th class="text-center">{{ 'ACTIONS' | translate }}</th>
                                </tr>
                                <tr ng-if="data.data.length == 0">
                                    <td colspan="3">No se encuentran datos para mostrar.</td>
                                </tr>
                                <tr ng-if="data.data.length != 0" ng-repeat="model in data.data">
                                    <td>{{model.name}}</td>
                                    <td>{{model.status.name}}</td>
                                    <td class="text-center table-btn">
                                        <a class="btn btn-primary" ng-click="view({id: model.id})">{{ 'VIEW' | translate }}</a>
                                        <a class="btn btn-primary" ng-click="edit({id: model.id})">{{ 'EDIT' | translate }}</a>
                                        <a class="btn btn-primary" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{model.id}}" ng-click="confirmDelete($event)">{{ 'DELETE' | translate }}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <paging class="text-center" page="data.meta.page" page-size="parameters.limit" total="data.meta.count"
                            paging-action="paging('pageClick', page, pageSize, total)"
                            show-prev-next="true"
                            show-first-last="true" hide-if-empty="true"></paging>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!--  Main content-->
</div>
<footer-home></footer-home>

<script>
            $('#myStateButton').on('click', function() {
                $(this).button('complete') // button text will be "finished!"
            })
</script>
