<header-home></header-home>
<div class="content-wrapper">
    <breadcrumbs   data-model-name="{{ 'STATUS' | translate }}" data-model="{{type}}"></breadcrumbs>
    <!-- Main content -->
    <section class="content">
      <div class="box-header">
          <h3 class="box-title">{{ 'STATUSES' | translate }}</h3>
          <!--<div class="box-tools">
              <a ng-href="#/statuses/new" class="btn-primary btn nodecoration pull-right" permission permission-except="roles.GUEST">{{ 'ADD' | translate }} {{ 'STATUS' | translate }}</a>
          </div>-->
      </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        <!--<search-bar data-search="{required:true,name:'Nombre'}" data-filters="{{filtersView}}"></search-bar>-->

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                        <a ng-click="findSort('name', !sortReverse);" class="cursor-pointer">
                                            {{'NAME'| translate}}
                                            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <!--<th>{{ 'AUTHOR' | translate }}</th>-->
                                    <th class="text-center box-actions">{{ 'ACTIONS' | translate }}</th>
                                </tr>
                                <tr ng-if="data.data.length == 0">
                                    <td colspan="2">No se encuentran datos para mostrar.</td>
                                </tr>
                                <tr ng-if="data.data.length != 0" ng-repeat="model in data.data | orderBy: 'name'">
                                    <td>{{model.name}}</td>
                                    <!--<td>
                                        <span ng-if="model.createdBy">{{model.createdBy.username}}</span>
                                    </td>-->
                                    <td class="text-center box-actions">
                                        <a class="btn btn-primary" ng-click="view({id: model.id})">{{ 'VIEW' | translate }}</a>
                                        <a class="btn btn-primary" ng-click="edit({id: model.id})" permission permission-except="roles.GUEST">{{ 'EDIT' | translate }}</a>
                                        <!--<a class="btn btn-primary" data-textdelete="{{ 'DO_THIS_ACTION' | translate }}" data-id="{{model.id}}" ng-click="confirmDelete($event)" permission permission-except="roles.GUEST">{{ 'DELETE' | translate }}</a>-->
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="text-center">
                            <paging class="text-center" page="data.meta.page" page-size="parameters.limit" total="data.meta.count"
                                paging-action="paging('pageClick', page, pageSize, total)"
                                show-prev-next="true"
                                show-first-last="true" hide-if-empty="true"></paging>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!--  Main content-->
</div>
<footer-home></footer-home>
