<script type="text/javascript" src="/admin/plugins/redirect.js"></script>
<header class="main-header">
    <!-- Logo -->
    <a href="{{baseUrl}}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!--<span class="logo-mini"><img src="images/odin-sm.svg" alt="Odin"></span>
        <!-- logo for regular state and mobile devices 
        <span class="logo-lg"><img src="images/odin.svg" alt="Odin"></span>-->
        <span class="logo-mini"><img src="images/ba-logo-mini.png" alt="BA"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="images/ba-logo.svg" alt="BA"></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu avenir-medium" ng-controller="mainController as main">
                    <a href="javascript:void(0)" class="dropdown-toggle active" data-toggle="dropdown">
                        <span class="navbar-icon" >{{adminglob.currentUser.username}}</span> <i class="navbar-icon fa fa-caret-down" aria-hidden="true"></i>

                    </a>
                    <ul class="dropdown-menu">
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="javascript:void(0)" ng-click="main.changeLanguage()" class="btn btn-default btn-flat">{{ 'LANGUAGE' | translate }}</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="users/me/view" class="btn btn-default btn-flat">{{ 'MY_PROFILE' | translate }}</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="javascript:void(0)" ng-click="main.logout()" class="btn btn-default btn-flat">{{ 'SIGN_OUT' | translate }}</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a ng-href="public/odin-user-manual.pdf" target="_blank" uib-tooltip="Manual de usuario" tooltip-placement="bottom">
                        <svg version="1.1" class="img-responsive" style="font-size: 1.6em; height: 1em;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16.799 16.293" enable-background="new 0 0 16.799 16.293" xml:space="preserve">
                        <g>
                        <!--<circle fill="#FF386A" cx="8.477" cy="9.135" r="3.03"/>-->
                        <!-- FF386A -->
                        <circle fill="#19c3e3" cx="8.477" cy="9.135" r="3.03"/>
                        <g>
                        <path fill="#FFFFFF" d="M8.049,7.266c0-0.116,0.042-0.217,0.125-0.301C8.26,6.881,8.358,6.839,8.477,6.839
                              c0.116,0,0.215,0.042,0.301,0.126C8.861,7.049,8.903,7.15,8.903,7.266s-0.042,0.215-0.126,0.3C8.692,7.65,8.592,7.692,8.477,7.692
                              c-0.118,0-0.217-0.042-0.302-0.126C8.091,7.481,8.049,7.382,8.049,7.266z M8.185,8.365h0.583v3.066H8.185V8.365z"/>
                        </g>
                        </g>
                        <!--<path fill="#FF386A" d="M11.324,2.188c-0.217-0.229-0.52-0.379-0.862-0.379h-0.419C9.886,1.363,9.459,1.042,8.959,1.042H8.193-->
                        <path fill="#19c3e3" d="M11.324,2.188c-0.217-0.229-0.52-0.379-0.862-0.379h-0.419C9.886,1.363,9.459,1.042,8.959,1.042H8.193
                              c-0.499,0-0.925,0.32-1.083,0.766H6.694c-0.338,0-0.641,0.151-0.857,0.379H3.085v12.792h11.085V2.188H11.324z M11.575,3.34h1.52
                              v10.562H4.163V3.34H5.58c0.05,0.143,0.127,0.276,0.231,0.39c0.217,0.239,0.527,0.375,0.85,0.375h3.832
                              c0.345,0,0.667-0.153,0.887-0.42C11.466,3.581,11.531,3.464,11.575,3.34z M6.694,2.575h0.733c0.211,0,0.383-0.172,0.383-0.383
                              c0-0.211,0.171-0.384,0.382-0.384h0.766c0.211,0,0.384,0.172,0.384,0.384c0,0.21,0.17,0.383,0.382,0.383h0.737
                              c0.196,0,0.37,0.129,0.404,0.299c0.033,0.161-0.034,0.273-0.076,0.326c-0.075,0.089-0.183,0.141-0.297,0.141H6.662
                              c-0.11,0-0.21-0.044-0.284-0.125C6.304,3.134,6.27,3.029,6.281,2.919C6.299,2.725,6.48,2.575,6.694,2.575z"/>
                        </svg>

                    </a>
                </li>
                <li permission permission-except="roles.GUEST">
                    <a ng-href="configs" data-toggle="control-sidebar"><i class="navbar-icon fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<sidebar-home></sidebar-home>